.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_image.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
    max-width: 50%;
    bottom: 20%;
    left: 4vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}
.header-contents p{
    color: #fff8dc;
    font-size: 1.3vw;
}

@media (max-width:750px){
    .header-contents{
        max-width: 55%;;
    }
    .header-contents p{
        display: none;
    }
}